/* Crea 3 clases:
La primera, .success, aplicará un borde verde oscuro, un fondo verde claro y el color de fuente verde oscuro
La segunda, .error, igual pero sustituyendo el verde por rojo
La tercera, .warning, lo mismo pero usando el color amarillo */

.success {
  border: solid 2px darkgreen;
  background-color: green;
  color: darkgreen;
}
.error {
  border: solid 2px darkred;
  background-color: red;
  color: darkred;
}
.warning {
  border: solid 2px darkgoldenrod;
  background-color: yellow;
  color: darkgoldenrod;
}
